{% extends 'base/base.html' %}

{% block title %}Add Vulnerability | {% endblock %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="{% url 'vulns' %}">Vulnerabilities</a></li>
        <li class="is-active"><a href="#" aria-label="page">Add Vulnerability</a></li>
    </ul>
</nav>

<div class="columns" id="vuln-app">
    <div class="column is-4">
        <h1 class="title">Add Vulnerability</h1>
    </div>
</div>

<div class="columns">
    <div class="column is-4">Add Vulnerability</div>
        <form action="." method="post" @submit="validateForm">
            {% csrf_token %}

            <div class="field">
                <label>Title</label>

                <div class="control">
                    <input type="text" name="title" id="id_title" v-model="title">
                </div>
            </div>

            <div class="field">
                <label>Vulnerability Rating</label>
                <div class="control">
                    <div class="select">
                        <select name="vuln_rating">
                            <option value="0">{{vulnerability.vuln_level}}</option>
                            {% for rating in vuln_rating %}
                            <option value="{{forloop.counter}}">{{ forloop.counter }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>On Vulnerability Stack</label>
                <div class="control">
                    <div class="select">
                        <select name="vuln_stack">
                            <option value="0">{{vulnerability.vuln_stack}}</option>
                            {% for vuln_stack_option in vuln_stack %}
                            <option value="{{forloop.counter}}">{{ forloop.counter }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Related Step</label>
                <div class="control">
                    <div class="select">
                        <select name="related_step">
                            <option value="0">{{vulnerability.related_step}}</option>
                            {% for step in steps %}
                            <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </div>

            <div class="field">
                <label>Description</label>

                <div class="control">
                    <input type="text" name="description" id="id_description" v-model="description">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-success">Submit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
<script>
    const VulnApp = {
        data() {
            return {
                title: '',
                rating: '',
                stack: '',
                related_step: '',
                description: '',
                errors: []
            }
        },
        delimiters: ['[[,]]'],
        methods: {
            validateForm(e) {
                this.errors = []

                if(this.title) {
                    return true
                }

                if(this.rating) {
                    return true
                }

                if(this.stack) {
                    return true
                }

                if(this.related_step) {
                    return true
                }

                if(this.description) {
                    return true
                }

                e.preventDefault()

                this.errors.push('The title is missing')

                return false
            }
        }
    }

    Vue.createApp(VulnApp).mount('#vuln-app')
</script>

{% endblock scripts %}